
.main_container {
    position: relative;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #124CC3;
}

.navbar .navbar_items ul {
    display: flex;

}

.navbar .navbar_items ul li {
    text-transform: uppercase;
    margin: 0 40px;
}

.navbar .navbar_items ul li a {
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
}

.navbar .navbar_items ul li a:hover {
    color: #124CC3;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
}

.form .register-form {
    display: none;
}

@media (max-width: 720px) {
    .navbar {
        height: auto;
        flex-direction: column;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 25px;
    }

}


.row{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professor{
    border-radius: 0px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    padding: 0px;
    margin: 20px;
    width: 400px;
    height: 100px;
    transition: all 0.3s ease-out;
    border: 2px solid #124CC3;
}

.professor:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.aluno{
    border-radius: 0px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    padding: 0px;
    margin: 20px;
    width: 400px;
    height: 100px;
    transition: all 0.3s ease-out;
    border: 2px solid #124CC3;
}

.aluno:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.botao {
    background-color: rgba(18, 76, 195, 1);
    color: rgba(255, 255, 255, 1);
    border: 0ch;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 375px;
    height: 80px;
    border-radius: 10px;
}