*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

p{
	margin-bottom: 15px;
	font-family: Montserrat;
    font-style: italic;
    font-weight: 800;
    justify-content: center;
    font-size:30px;
}

.main_container{
	position: relative;
}

.navbar{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
    background-color: #124CC3;
}

.listra1{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
    background-color: #124CC3;
	margin-top: 150px;
}

.listra2{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
    background-color: #124CC3;
	margin-top: 400px;
}

.navbar .navbar_items ul{
	display: flex;
}

.navbar .navbar_items ul li{
	text-transform: uppercase;
	margin: 0 40px;
}

.navbar .navbar_items ul li a{
	color: #fff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
}
.navbar .navbar_items ul li a:hover{
	color:#124CC3;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
}

.banner_image{
	background: url("imgs/background.png") no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 788px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 50px;
	color: #124CC3;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #124CC3;
  color: white
}

.form .register-form {
  display: none;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;
	}
}

